@import "./libs/bootstrap-reboot.min";
@import "./libs/fonts";
@import "./libs/slick";
@import "./libs/animate";

@import "./base/mixins";
@import "./base/variables";
@import "./base/animations";

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  width: 1320px;
  min-height: calc(100vh - $navbar-height - $search-height - $footer-height);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  &.edited {
    min-height: calc(100vh - $navbar-height - $search-height - $footer-height - $edit__menu-height);
  }
}

@import "blocks/btn";
