@import "../../sass/base/variables.scss";

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-135deg, $menu-color, rgba($main-color, 0.3), $main-color);
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
    align-items: flex-start;
    border: 2px solid $menu-color;
    border-radius: 20px;
    background-image: linear-gradient(90deg, rgba($store-color, 0.3), rgba($auth-color, 0.3));
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 10px 20px;
    }
    &__label {
      padding-right: 10px;
    }
    &__input {
      width: 300px;
      background-color: $menu-color;
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      font-size: 16px;
    }
    &__error {
      max-width: 410px;
      font-size: 14px;
      color: $store-color;
      padding: 0 20px;
    }
    &__btn {
      margin: 5px auto;
      font-size: 16px;
      background-color: $menu-color;
      &:hover {
        background-color: rgba($main-color, 0.3);
      }
    }
    &__link {
      margin: 0 auto;
      padding: 10px 20px;
      font-size: 16px;
      a {
        font-size: 16px;
        font-weight: 900;
        color: $store-color;
        text-decoration: none;
        &:hover {
          cursor: pointer;
          color: $burger-color;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .auth {
    &-form {
      &__row {
        padding: 10px;
      }
      &__input {
        width: 205px;
      }
    }
  }
}
