@import "../../sass/base/variables.scss";

.catalog {
  width: 100%;
  margin: 10px;
  &__title {
    font-size: 18px;
    font-weight: 900;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
  }
  &__item {
    list-style-type: none;
  }
  &__link {
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    color: #000;
    &:hover {
      color: $main-color;
    }
  }
}
