@import "../../sass/base/variables.scss";

.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  &__link {
    text-decoration: none;
    font-size: 14px;
    color: #000;
    &:hover {
      color: $store-color;
    }
  }
  &__divider {
    margin: 0 5px;
  }
}
