@import "../../sass/base/variables.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px 20px;
  height: $footer-height;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba($auth-color, 0.4), rgba($auth-color, 0.7), rgba($auth-color, 0.9));
  &__wrapper {
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    font-size: 16px;
    font-weight: 900;
    color: $store-color;
  }
  &__descr {
    font-size: 14px;
    color: $burger-color;
  }
}

@media screen and (max-width: 575px) {
  .footer {
    padding: 5px;
    &__name {
      font-size: 14px;
    }
    &__descr {
      font-size: 10px;
    }
  }
}
