@import "../../sass/base/variables.scss";

.edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  &__empty {
    display: none;
    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 20px 10px 10px 10px;
    :last-child {
      border-bottom: none;
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    font-size: 12px;
    &_id {
      min-width: 50px;
      max-width: 50px;
      border-right: 1px solid #000;
      padding: 5px;
      font-weight: 900;
      line-height: 25px;
    }
    &_img {
      min-width: 60px;
      max-width: 60px;
      border-right: 1px solid #000;
      padding: 5px;
      font-weight: 900;
      line-height: 25px;
    }
    &_info {
      width: 100%;
      border-right: 1px solid #000;
      padding: 5px;
      font-weight: 900;
      line-height: 25px;
    }
    &_category {
      min-width: 90px;
      max-width: 90px;
      border-right: 1px solid #000;
      padding: 5px;
      font-weight: 900;
      line-height: 25px;
    }
    &_count {
      min-width: 60px;
      max-width: 60px;
      border-right: 1px solid #000;
      padding: 5px;
      font-weight: 900;
      line-height: 1;
    }
    &_price {
      min-width: 50px;
      max-width: 50px;
      border-right: 1px solid #000;
      padding: 5px;
      font-weight: 900;
      line-height: 1;
    }
    &_actions {
      min-width: 70px;
      max-width: 70px;
      font-weight: 900;
      line-height: 25px;
      padding: 5px;
    }
  }
  &__card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    min-height: 30px;
    border-bottom: 1px solid #000;
  }
  &-id {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    max-width: 50px;
    font-size: 10px;
    text-align: center;
    border-right: 1px solid #000;
  }
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    max-width: 60px;
    border-right: 1px solid #000;
    img {
      padding: 2px;
      max-width: 60px;
      max-height: 70px;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-right: 1px solid #000;
    padding: 3px;
    a {
      text-decoration: none;
    }
  }
  &-name {
    font-size: 12px;
    line-height: 1;
    color: $main-color;
  }
  &-rating {
    font-size: 10px;
    color: $menu-color;
    span {
      font-weight: 900;
    }
  }
  &-descr {
    font-size: 10px;
    line-height: 1;
    color: $auth-color;
    span {
      color: $cart-color;
    }
  }
  &-category {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    max-width: 90px;
    border-right: 1px solid #000;
    font-size: 12px;
    color: $auth-color;
    text-align: center;
  }
  &-count {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    max-width: 60px;
    border-right: 1px solid #000;
    font-size: 12px;
    color: $auth-color;
    text-align: center;
    span {
      font-weight: 900;
    }
  }
  &-price {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    max-width: 50px;
    border-right: 1px solid #000;
    font-size: 12px;
    color: $store-color;
    text-align: center;
    span {
      font-weight: 900;
    }
  }
  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 70px;
    max-width: 70px;
    &__link {
      img {
        max-width: 20px;
        max-height: 20px;
        margin: 5px;
      }
    }
    :hover {
      cursor: pointer;
      background: $menu-color;
    }
  }
  &-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 35px;
        max-height: 35px;
        padding: 5px;
      }
      :hover {
        cursor: pointer;
        background: $menu-color;
      }
    }
  }
  &__menu {
    display: none;
    &.active {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 0 10px 10px 10px;
      height: $edit__menu-height;
      width: 100%;
    }
    &-form {
      width: 1320px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      border: 1px solid #000;
      border-radius: 20px;
      padding: 10px 0;
    }
    &-row {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 14px;
      span {
        font-size: 16px;
        font-weight: 900;
      }
    }
    &-str {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 5px 20px;
    }
    &-col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 10px 20px;
    }
    &-label {
      min-width: 80px;
      margin-right: 10px;
    }
    &-input {
      width: 100%;
      min-height: 30px;
      border: 1px solid #000;
      border-radius: 1000px;
      padding: 0 10px;
      &.error {
        border: 2px solid $cart-color;
      }
    }
    &-img {
      max-width: 50px;
      max-height: 50px;
      margin: 0 auto;
    }
    &-input-file {
      border: 1px solid #000;
      border-radius: 1000px;
      width: 100%;
    }
    &-textarea {
      width: 100%;
      border: 1px solid #000;
      border-radius: 15px;
      padding: 5px 10px;
      &.error {
        border: 2px solid $cart-color;
      }
    }
    &-select {
      width: 100%;
      min-height: 30px;
      border: 1px solid #000;
      border-radius: 1000px;
      padding: 0 10px;
    }
    &-option {
      min-height: 30px;
    }
    &-link {
      max-height: 40px;
      max-width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        height: 100%;
      }
      :hover {
        cursor: pointer;
        border: 2px solid $main-color;
        border-radius: 1000px;
      }
    }
    &-ok {
      width: 100px;
    }
    &-buttons {
      display: none;
    }
    &-error {
      font-size: 16px;
      color: $cart-color;
    }
  }
}

@media screen and (max-width: 991px) {
  .edit {
    &-name {
      font-size: 12px;
    }
    &-rating {
      font-size: 10px;
    }
    &-descr {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .edit {
    &__header {
      font-size: 10px;
      &_id {
        line-height: 15px;
      }
      &_img {
        line-height: 15px;
      }
      &_info {
        line-height: 15px;
      }
      &_category {
        line-height: 15px;
      }
      &_actions {
        line-height: 15px;
      }
    }
    &__card {
      min-height: 30px;
    }
    &-id {
      font-size: 9px;
    }
    &-name {
      font-size: 10px;
    }
    &-rating {
      font-size: 9px;
    }
    &-descr {
      font-size: 9px;
    }
    &-category {
      font-size: 10px;
    }
    &-count {
      font-size: 10px;
    }
    &-price {
      font-size: 10px;
    }
    &__menu {
      &.active {
        padding: 0 5px 5px 5px;
      }
      &-form {
        width: calc(100% - 15px);
        padding: 5px 0;
      }
      &-row {
        flex-direction: column;
        font-size: 10px;
        span {
          font-size: 14px;
          margin-bottom: 5px;
        }
      }
      &-str {
        width: 100%;
        margin: 0 5px 5px 5px;
      }
      &-col {
        margin: 0 5px 5px 5px;
      }
      &-label {
        min-width: 55px;
        margin: 0 5px 0 5px;
      }
      &-input {
        min-height: 20px;
        margin-right: 5px;
      }
      &-textarea {
        width: calc(100% - 10px);
        height: 32px;
        margin: 0 5px;
        padding: 0 10px;
      }
      &-select {
        min-height: 20px;
        margin-right: 5px;
      }
      &-option {
        min-height: 20px;
      }
      &-link {
        max-height: 20px;
        max-width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: 100%;
        }
        :hover {
          cursor: pointer;
          border: 2px solid $main-color;
          border-radius: 1000px;
        }
      }
      &-ok {
        display: none;
      }
      &-buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      &-error {
        font-size: 10px;
        margin: 0 5px;
      }
    }
  }
}

@media screen and (max-width: 575px) {
  .edit {
    &__cards {
      margin: 10px 5px;
    }
    &__header {
      font-size: 8px;
      &_id {
        min-width: 25px;
        max-width: 25px;
        line-height: 15px;
      }
      &_img {
        min-width: 30px;
        max-width: 30px;
        line-height: 15px;
      }
      &_info {
        line-height: 15px;
      }
      &_category {
        min-width: 50px;
        max-width: 50px;
        line-height: 15px;
      }
      &_count {
        min-width: 40px;
        max-width: 40px;
      }
      &_price {
        min-width: 35px;
        max-width: 35px;
      }
      &_actions {
        min-width: 45px;
        max-width: 45px;
        line-height: 15px;
      }
    }
    &__card {
      min-height: 30px;
    }
    &-id {
      min-width: 25px;
      max-width: 25px;
      font-size: 5px;
    }
    &-img {
      min-width: 30px;
      max-width: 30px;
      img {
        max-width: 25px;
        max-height: 70px;
      }
    }
    &-name {
      font-size: 6px;
    }
    &-rating {
      font-size: 5px;
    }
    &-descr {
      font-size: 5px;
    }
    &-category {
      min-width: 50px;
      max-width: 50px;
      font-size: 7px;
    }
    &-count {
      min-width: 40px;
      max-width: 40px;
      font-size: 8px;
    }
    &-price {
      min-width: 35px;
      max-width: 35px;
      font-size: 8px;
    }
    &-actions {
      flex-direction: column;
      justify-content: center;
      min-width: 45px;
      max-width: 45px;
      &__link {
        img {
          max-width: 10px;
          max-height: 10px;
          margin: 5px;
        }
      }
    }
    &__menu {
      &-form {
        width: 100%;
        padding: 4px 0;
      }
      &-row {
        span {
          font-size: 12px;
        }
      }
    }
  }
}
