@import "../../sass/base/variables.scss";

.cart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 10px;
  &__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    &.active {
      display: none;
    }
  }
  &__content {
    display: none;
    width: 100%;
    &.active {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &.no_auth {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: 1px solid #000;
    border-radius: 10px;
    margin: 0;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
    text-align: center;
    border-bottom: none;
    font-size: 18px;
    &_img {
      min-width: 100px;
      border-right: 1px solid #000;
      padding: 10px;
      font-weight: 900;
    }
    &_info {
      width: 100%;
      border-right: 1px solid #000;
      padding: 10px;
      font-weight: 900;
    }
    &_count {
      min-width: 140px;
      border-right: 1px solid #000;
      padding: 10px;
      font-weight: 900;
    }
    &_price {
      min-width: 120px;
      padding: 10px;
      font-weight: 900;
    }
  }
  &__card {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: none;
  }
  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    border-right: 1px solid #000;
    img {
      padding: 10px;
      max-width: 100px;
      height: 100%;
    }
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100px;
    border-right: 1px solid #000;
    padding: 10px;
  }
  &-name {
    font-size: 16px;
    color: $auth-color;
    a {
      text-decoration: none;
      color: $auth-color;
    }
    :hover {
      color: $menu-color;
    }
  }
  &-id {
    font-size: 14px;
  }
  &-rating {
    font-size: 14px;
    span {
      font-weight: 900;
      color: $menu-color;
    }
  }
  &-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 140px;
    min-height: 100px;
    text-align: center;
    border-right: 1px solid #000;
    font-size: 18px;
    color: $cart-color;
    &__wrapper {
      margin-bottom: 10px;
      span {
        width: 100%;
      }
    }
    &__icon-delete {
      display: none;
    }
  }
  &__input {
    width: 70px;
    border: 2px solid $main-color;
    border-radius: 1000px;
    padding-left: 15px;
    height: 30px;
    margin-right: 10px;
    font-size: 16px;
    text-align: center;
  }
  &-price {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 100px;
    text-align: center;
    font-size: 18px;
    color: $store-color;
    span {
      width: 100%;
    }
  }
  &__total {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
    border-radius: 10px;
    min-width: 180px;
    margin-left: 10px;
  }
  &__text {
    border-bottom: 1px solid #000;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
  }
  &__goods {
    padding: 10px;
    width: 100%;
    span {
      font-weight: 900;
    }
  }
  &__amount {
    border-bottom: 1px solid #000;
    padding: 10px;
    width: 100%;
    span {
      font-weight: 900;
    }
  }
  &__btn {
    max-width: 100%;
    margin: 10px;
    height: 40px;
    font-size: 16px;
  }
  &__auth {
    font-size: 16px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
  &__link {
    font-weight: 900;
    text-decoration: none;
    cursor: pointer;
    color: $main-color;
    &:hover {
      color: $cart-color;
    }
  }
}

@media screen and (max-width: 1199px) {
  .cart {
    &-name {
      font-size: 14px;
    }
    &-rating {
      font-size: 12px;
    }
    &-id {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 991px) {
  .cart {
    &__content {
      display: none;
      &.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
    }
    &__header {
      &_count {
        min-width: 120px;
      }
      &_price {
        min-width: 100px;
      }
    }
    &__cards {
      margin: 0 0 10px 0;
    }
    &-name {
      font-size: 14px;
    }
    &-rating {
      font-size: 12px;
    }
    &-id {
      font-size: 12px;
    }
    &-count {
      min-width: 120px;
      font-size: 14px;
    }
    &__input {
      margin-right: 5px;
      font-size: 14px;
    }
    &-price {
      min-width: 100px;
      font-size: 14px;
    }
    &__total {
      margin: 0;
    }
  }
}

@media screen and (max-width: 575px) {
 .cart {
   margin: 10px 5px;
   &__header {
     font-size: 10px;
     &_img {
       min-width: 50px;
       padding: 5px;
     }
     &_info {
       padding: 5px;
     }
     &_count {
       min-width: 70px;
       padding: 5px;
     }
     &_price {
       min-width: 70px;
       padding: 5px;
     }
   }
   &-img {
     min-width: 50px;
     min-height: 50px;
     img {
       padding: 5px;
       max-width: 50px;
       height: 100%;
     }
   }
   &-info {
     padding: 5px;
   }
   &-name {
     font-size: 10px;
   }
   &-rating {
     font-size: 10px;
   }
   &-id {
     font-size: 10px;
   }
   &-count {
     min-width: 70px;
     font-size: 10px;
     &__wrapper {
       span {
         margin-right: 7px;
       }
     }
     &__btn-delete {
       display: none;
     }
     &__icon-delete {
       display: inline;
       max-width: 40px;
       max-height: 40px;
       padding: 2px;
       &:hover {
         cursor: pointer;
         color: rgba($menu-color, 0.7);
         border: 2px solid rgba($menu-color, 0.7);
         border-radius: 10px;
       }
       img {
         width: 100%;
         height: 100%;
       }
     }
   }
   &__input {
     padding-left: 7px;
     margin-right: 5px;
     font-size: 10px;
     width: 40px;
     height: 25px;
   }
   &-price {
     min-width: 70px;
     font-size: 10px;
   }
   &__auth {
     font-size: 14px;
     margin-top: 10px;
   }
 }
}
