@import "../../sass/base/variables.scss";

.ordering {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 10px;
  &__total {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0 10px;
  }
  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 0;
  }
  &__goods {
    font-size: 16px;
    padding: 10px 0;
    span {
      font-weight: 900;
    }
  }
  &__amount {
    font-size: 16px;
    padding: 10px 0;
    span {
      font-weight: 900;
    }
  }
  &-delivery, &-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    &__label {
      font-size: 16px;
      margin-right: 10px;
    }
    &__select {
      min-width: 220px;
      padding: 5px;
      border: 1px solid $burger-color;
      border-radius: 1000px;
      font-size: 14px;
    }
    &__item {
    }
  }
  &__btn {
    margin: 10px 0;
    font-size: 20px;
    height: 40px;
  }
  &-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    &__label {
      font-size: 16px;
      margin-right: 10px;
    }
    &__input {
      min-width: 220px;
      padding: 5px 15px;
      border: 1px solid $burger-color;
      border-radius: 1000px;
      font-size: 14px;
    }
  }
  &-comment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    &__label {
      font-size: 16px;
      padding: 10px 0;
    }
    &__text {
      width: 100%;
      min-height: 100px;
    }
  }
}

@media screen and (max-width: 575px) {
  .ordering {
    &-delivery, &-payment {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      &__label {
        margin: 0 0 5px 0;
      }
    }
    &-phone {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      &__label {
        margin: 0 0 5px 0;
      }
    }
  }
}
