@import "../../sass/base/variables.scss";

.sidebar {
  background-color: #fff;
  position: absolute;
  transform: translateX(-1000%);
  transition: all 1s;
  &:hover {
    cursor: pointer;
  }
  &__content {
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    margin: 10px;
    border: 2px solid $main-color;
    border-radius: 5px;
    :last-child {
      border-bottom: none;
    }
  }
  &__item {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    border-bottom: 2px solid $main-color;
  }
  &__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    color: $main-color;
    font-size: 16px;
    line-height: 100%;
    &-add {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 40px;
        max-height: 40px;
        padding: 5px;
      }
    }
    &:hover {
      color: $store-color;
      background: $menu-color;
      font-weight: 900;
    }
    &.active {
      color: $store-color;
      background: $menu-color;
      font-weight: 900;
    }
  }
  &__edit {
    max-width: 55px;
    max-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    &-ok {
      max-width: 30px;
      min-width: 30px;
      max-height: 30px;
      min-height: 30px;
      margin: 15px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  &__edit-link {
    max-width: 100%;
    max-height: 100%;
    padding: 3px;
    &:hover {
      background: $menu-color;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  &.active {
    position: static;
    transform: translateX(0%);
    transition: all 1s;
  }
}

@media screen and (max-width: 819px) {
  .sidebar {
    &.active {
      background-color: #fff;
      position: fixed;
      top: 110px;
      left: 10px;
    }
    &__content {
      margin: 0;
    }
  }
}
