@import "../../sass/base/variables.scss";

.search {
  margin: 50px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $search-height;
  width: 100%;
  border-bottom: 2px solid $main-color;
  font-size: 16px;
  &__wrapper {
    width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__label {
    margin-right: 10px;
    font-size: 16px;
  }
  &__input {
    width: 500px;
    margin-right: 10px;
    border: 2px solid $main-color;
    border-radius: 1000px;
    padding: 0 20px;
    height: 30px;
  }
  &__btn {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    &__input {
      width: 410px;
    }
  }
}
