@import "../../sass/base/variables.scss";

.home-link {
  z-index: 2;
  padding: 10px 20px;
  a {
    font-size: 16px;
    font-weight: 900;
    color: $store-color;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: $menu-color;
    }
  }
}
