$main-color: #53852e;
$store-color: #8f1515;
$burger-color: #1d29af;
$menu-color: #f19621;
$auth-color: #164107;
$menu-selected-color: #dee3d0;
$cart-color: #ff0000;

$navbar-height: 50px;
$search-height: 50px;
$footer-height: 50px;
$edit__menu-height: 330px;
